# IDE
.idea/
*.iml
.vscode/

# Java
target/
*.class
*.jar
*.war
*.log

# Node
node_modules/
dist/
.cache/

# 小程序
miniprogram_npm/

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env.*.local

# H2
*.db
*.mv.db

# Build
build/
